@{
    if (User.Identity.Name == "")
    {
        <h1 style="color:lawngreen">
            Please login or register
        </h1>
    }
    else
    {
        <h1 style="color:lawngreen">
            Welcome @User.Identity.Name
        </h1>

        //Werbebanner
        <div class="container" style="height:600px; padding-top:15px">
            <div id="banner" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#banner" data-slide-to="0" class="active"></li>
                    <li data-target="#banner" data-slide-to="1"></li>
                    <li data-target="#banner" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <a href='@Url.Action("Index","Shop")'>
                            <img class="img-responsive" src='@Url.Content("~/Content/img/1.png")' />
                        </a>
                    </div>

                    <div class="item">
                        <a href='@Url.Action("","")'>
                            <img class="img-responsive" src='@Url.Content("~/Content/img/2.png")' />
                        </a>
                            </div>
                    <div class="item">
                        <a href='@Url.Action("","")'>
                            <img class="img-responsive" src="~/Content/img/3.png" />
                        </a>
                    </div>
                </div>

                <a class="left carousel-control" href="#banner" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#banner" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>
        </div>

        <div class="navbar-fixed-bottom">
            <div class="text-center">
                <a target="_blank" href="~/Content/img/AGB.pdf" style="color:lawngreen">AGB</a>
                <a style="color:deeppink">|</a>
                <a target="_blank" href="~/Content/img/Disclaimer.pdf" style="color:lawngreen">Disclaimer</a>
            </div>
        </div>


    }
}

