@model UserLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="jumbotron" style="background-color:transparent">

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td style="color:lawngreen">
                    @Html.LabelFor(u => u.Email)
                </td>
                <td>
                    @Html.EditorFor(u => u.Email)
                </td>               
            </tr>
            <tr>
                <td style="color:lawngreen">
                    @Html.LabelFor(u => u.Password)                    
                </td>
                <td>
                    @Html.EditorFor(u => u.Password)
                </td>                
            </tr>
        </table>

        
      
        <input type="submit" class="btn btn-default" />
    }

</div>

@Html.ActionLink("Create Account", "Register", null, new { @style = "color:#7cfc00" })