@model UserLogin

@{
    ViewBag.Title = "Login";
}

<h2 style="color:lawngreen">Login</h2>

<div class="jumbotron" style="background-color:transparent">

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td style="color:lawngreen">
                    @Html.LabelFor(u => u.Email)
                </td>
                <td>
                    @Html.EditorFor(u => u.Email, new { htmlAttributes = new { @style = "background-color:transparent; border:solid 1.5px; color:lawngreen" } })
                </td>               
            </tr>
            <tr>
                <td style="color:lawngreen">
                    @Html.LabelFor(u => u.Password)                    
                </td>
                <td>
                    @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @style = "background-color:transparent; border:solid 1.5px; color:lawngreen" } })
                </td>                
            </tr>
        </table>
        <br />
        
      
        <input type="submit" class="btn btn-default" style="background-color:transparent; color:lawngreen; border-color:lawngreen; border:solid 1.5px" />
    }

</div>

@Html.ActionLink("Create Account", "Register", null, new { @style = "color:#7cfc00" })