@model UserProfile

@{
    ViewBag.Title = "Index";
}

<h1 style="color:lawngreen">Welcome, @Model.FirstName</h1>

<h2 style="color:lawngreen">You currently have @Model.Currency rubys
    <img style="height:25px" src="~/Content/img/rupeeee1.gif" />!</h2>

<h2 style="color:lawngreen">Your Details</h2>
<span style="color:lawngreen">
    @Html.DisplayNameFor(up => up.FirstName):
    @Html.DisplayFor(up => up.FirstName)
</span>
<br />
<span style="color:lawngreen">
    @Html.DisplayNameFor(up => up.LastName):
    @Html.DisplayFor(up => up.LastName)
</span>
<br />
<span style="color:lawngreen">
    @Html.DisplayNameFor(up => up.Email):
    @Html.DisplayFor(up => up.Email)
</span>
<br />
<h3 style="color:lawngreen">@Html.ActionLink("Cards Owned","CardCollection", null, new { @style = "color:#7cfc00" })</h3>
<span style="color:lawngreen">
    @Html.DisplayNameFor(up => up.NumDistinctCardsOwned):
    @Html.DisplayFor(up => up.NumDistinctCardsOwned)
</span>
<br />
<span style="color:lawngreen">
    @Html.DisplayNameFor(up => up.NumTotalCardsOwned):
    @Html.DisplayFor(up => up.NumTotalCardsOwned)
</span>
<h3>@Html.ActionLink("Decks Owned", "DeckOverview",null, new { @style = "color:#7cfc00" })</h3>


