@model IEnumerable<Card>



<div id="searchList">
    @foreach (var item in Model)
    {
        <div class="col-md-2">
            @{
                var base64 = Convert.ToBase64String(item.Image);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
            }
            <img style="height:150px" class="img-responsive img-thumbnail" src="@imgSrc" />
            <a href="#"><input type="hidden" value="@item.CardName" /></a>
        </div>
    }
</div>



<script>
    function search() {
        var input, filter, ul, li, a, i;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById('searchList');
        li = li = ul.getElementsByTagName('div');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            }
            else {
                li[i].style.display = "none";
            }
        }


    }
</script>



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(c => c.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Type)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Mana)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Attack)
        </th>
        <th>
            @Html.DisplayNameFor(c => c.Life)
        </th>
    </tr>

    @foreach (var card in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(c => card.CardName)
            </th>
            <th>
                @Html.DisplayFor(c => card.Type)
            </th>
            <th>
                @Html.DisplayFor(c => card.Mana)
            </th>
            <th>
                @Html.DisplayFor(c => card.Attack)
            </th>
            <th>
                @Html.DisplayFor(c => card.Life)
            </th>
        </tr>

    }

</table>*@

