@model IEnumerable<CardGame_v2.DAL.EDM.tblUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userpassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usersalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUserRole.rolename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userpassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usersalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUserRole.rolename)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUser })
        </td>
    </tr>
}

</table>
